<div class="col-md-8">
  
  <h2><%= @blog.title %></h2>

  <p><%= @blog.body %></p>

  <div>
    <%= link_to "Edit", edit_blog_path(@blog) if logged_in?(:site_admin) %> |

    <%= link_to "Delete", @blog, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } if logged_in?(:site_admin) %>
  </div>

</div>