<div class="col">
	<div class="card shadow-sm">
		<%= image_tag portfolio.thumb_image unless portfolio.thumb_image.nil? %>
		<div class="card-body">
			<p class="card-text">
				<span><%= link_to portfolio.title, portfolio_show_path(portfolio) %></span>
				<%= portfolio.subtitle %>
			</p>
		</div>
	</div>
</div>