<h1>Pages#contact</h1>

<div class="row">
	<div class="col-md-6">
		<p><%= number_to_phone "5555555555" %></p>
		<p><%= number_to_currency "150" %></p>
		<p><%= number_to_percentage "80.4" %></p>
		<a href="mailto:jeff@jeff.com?subject=Hi There">Email me</a>
	</div>

	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11365.813254543167!2d-104.70233024698551!3d44.5877529669615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x533306665439f6d1%3A0x4d1af79c027015f6!2sDevils%20Tower%2C%20WY%2082714!5e0!3m2!1sen!2sus!4v1682455627128!5m2!1sen!2sus" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
</div>